# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables (МІСТЯТЬ СЕКРЕТИ — ніколи не комітити)
.env
.env.local
.env*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
.env.local.save
.env.local.save
